#homePanel.panel
	div(style="text-align: center")
		img.className#IdName(width="300px" src="/imgs/logo.png" alt="Image Title")
	div(style="text-align: center")
		span(style="font-size: 36px;") Transaction Simulation
		hr		

		.marblesWrap
			.legend(style="text-align:right;") #{bag.setup.USER1.substring(0,1).toUpperCase() + bag.setup.USER1.substring(1)}'s
			ul#user1wrap.sortable &nbsp;

		
		.marblesWrap(style="float:right;")
			.legend #{bag.setup.USER2.substring(0,1).toUpperCase() + bag.setup.USER2.substring(1)}'s
			ul#user2wrap(style="text-align:left;").sortable &nbsp;
			
		#toolWrap
			span.fa.fa-trash-o.fa-2x
			
			#trashbin.sortable